<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lensert - Screenshot (
        <%= sid %>)</title>
    <meta name="description" content="Lensert, a simple screenshot utility for OS X and Windows">
    <meta name="author" content="Marvin Zwolsman">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 6px;
            position: absolute;
            width: 100%;
        }

        body {
            font-size: 13px;
            font-family: 'Helvetica Neue', helvetica, sans-serif;
            color: #5c5c5c;
        }

        a {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            color: inherit;
            text-decoration: none;
        }

        .logo {
            margin-right: 6px;
        }
    </style>
</head>

<body style="margin: 0px">
    <img style="-webkit-user-select: none;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);cursor: zoom-in;"
        src="<%= src %>">
    <div class="links">
        <a class="link" href="/">
            <img class="logo" width="18" height="18" src="http://placekitten.com/18/18" alt="Logo" />
            <span>Powered by Lensert</span>
        </a>
    </div>
</body>

</html>